@import "../../sassUtils/mixins.scss";
@import "../../sassUtils/vars.scss";

.Footer{
    // @include border-test(blue);
    @include flexbox(center,flex-start);
    width: 100vw;
    overflow-x: hidden;
    padding: 10px 0 70px 0;
    background-color: $color-greenBig;
    & .Footer__menu{
        // @include border-test(blue);
        width: 40%;

        & ul{
            @include flexbox(center);
            list-style: none;
            & li{
                
                padding-right: 25px;
                margin-right: 25px;
                border-right: 2px solid white;
                & a{
                    text-decoration: none;
                    color: white;
                    font-family: $font-roboto;
                    font-weight: 500;
                    line-height: 50px;
                    font-size: 1.2rem;
                }
            }
            & li:nth-of-type(4){
             border-right: none;
            }
        }
    }

    & .Footer__others{
        // @include border-test(blue);
        margin-top: 40px;
        margin-left: 80px;
        margin-right: 20px;
        & li{
            & a{
                color: white;
                text-decoration: none;
                font-family: $font-roboto;
                font-weight: 500;
                line-height: 20px;
                font-size: 1.2rem;
                font-style: normal;
            }
        }
        & .Footer__others-social{
         margin-top: 10px;
         
         @include flexbox(space-between);
        }
    }
}

@media screen and(max-width: 1000px){
    .Footer{
     display: grid;
     grid-template-columns: 80%;
     grid-template-rows: auto auto;
     align-items: initial;
     justify-content: initial;
     padding-left: 10%;
     
     & .Footer__menu{
      @include flexbox(center,center,column);
      width: 100%;
      grid-column: 1/2;
      grid-row: 1/2;
      & ul{
       display: block;
       text-align: center;
       & li{
        border: none;
       }
      }
     }
     & .Footer__others{
      padding-top: 30px;
      margin: 0;
      @include flexbox(center,center,column);
     } 
     
     & .Footer__others-social{
         grid-column: 1/2;
         grid-row: 2/3;
         & img{
          margin: 0 20px;
          margin-top: 30px;
         }
     }
    }

}

