@import "../../sassUtils/mixins.scss";
@import "../../sassUtils/vars.scss";


.Navbar{
    // @include border-test(blue);
    @include flexbox(space-between);
    overflow-x: hidden;
    width: 90vw;
    max-height: 200px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.Navbar__logo{
    // @include border-test(red);
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 25%;
    height: 80%;
    overflow: hidden;

    & img{
        width: 100%;
        height: 100%;
        max-height: 100%;        
    }
}

.Navbar__menu{
    // @include border-test(black);
    @include flexbox(flex-end);
    width: 5%;
    height: 5px;

}

@media screen and(max-width: 1350px){
    .Navbar__logo{
        width: 30%;
    }
}

@media screen and(max-width: 1200px){
    .Navbar__logo{
        width: 40%;
    }

}


@media screen and(max-width: 800px){
 .Navbar__menu{
  width: 20%;
 }
 .Navbar{
  max-height: 110px;
  padding: 0 2vw;
 }
 .Navbar__logo{
     width: 60%;
 }
}

@media screen and(max-width: 500px){

 .Navbar__logo{
     width: 90%;
 }
}